<h2 class="d-flex align-item-center">Products - Real Time</h2>
<div class="container">
    <div class="card bg-light ">
        <h2 class="d-flex justify-content-center ">Formulario de Productos</h2>
        <form class="align-self-center" id="myForm" action="/form-products" method="post">
            <div class="form-group p-2">
                <input type="text" placeholder="CODE" name="code" required>
            </div>
            <div class="form-group p-2">
                <input type="text" placeholder="TITLE" name="title" required>
            </div>
            <div class="form-group p-2">
                <input type="text" placeholder="DESCRIPTION" name="description" required>
            </div>
            <div class="form-group p-2">
                <input type="number" placeholder="PRICE" name="price" required>
            </div>
            <div class="form-group p-2">
                <input type="text" placeholder="THUMBNAIL" name="thumbnail" required>
            </div>
            <div class="form-group p-2">
                <input type="number" placeholder="STOCK" name="stock" required>
            </div>
            <div class="form-group p-2">
                <input type="text" placeholder="CATEGORY" name="category" required>
            </div>
            <div class="form-group p-2 bg-light">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>

                <td>Title</td>
                <td>Description</td>
                <td>Price</td>
                <td>Thumbnail</td>
                <td>Code</td>
                <td>Stock</td>
                <td>Category</td>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#each products}}
            <tr>
                <td>{{this.code}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnail}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()

        document.getElementById('myForm').onsubmit = e => {
            e.preventDefault()

            const title = document.querySelector('input[name=title]').value
            const price = parseInt(document.querySelector('input[name=price]').value)
            const description = document.querySelector('input[name=description]').value
            const category = document.querySelector('input[name=category]').value
            const stock = parseInt(document.querySelector('input[name=stock]').value)
            const thumbnail = document.querySelector('input[name=thumbnail]').value;


            const product = { title, price, description, thumbnail, code, stock, category }
            socket.emit('new-product', product)

        }
        socket.on('reload-table', products => {
            console.log(products)
            const tbody = document.getElementById('tbody')

            let html = '';
            products.forEach(product => {
                html +=
                    `<tr>
                <th scope="row">${product.id}</th>
                <td>${product.title}</td>
                <td>${product.price}</td>
                <td>${product.code}</td>
                <td>${product.category}</td>
                <td>${product.stock}</td>
                <td>${product.thumbnail}</td>
            </tr>`
            })

            tbody.innerHTML = html
        })

    </script>

    </script>